.navbar {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.navbar a {
  color: #008000;
  text-decoration: none;
  padding: 10px;
}

.navbar a:hover {
  background-color: #555;
}

.active {
    background-color: #FF0000;
    color: #fff;
}